# Training hallucination detector
WANDB_API_KEY=xxxxxxxxxxxxxxxxxx   # From https://wandb.ai/authorize
WANDB_ENTITY=xxxxxxxxxxxxxxxxxx
WANDB_PROJECT=xxxxxxxxxxxxxxxxxx
WANDB_DIR=xxxxxxxxxxxxxxxxxx

# Inference and data generation
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxx      # Meta analyzer
LLAMA_CLOUD_API_KEY=xxxxxxxxxxxxxxxxxx # for parsing
GROQ_API_KEY=xxxxxxxxxxxxxxxxxx        # for auditor and reasoning generator
OPENROUTER_API_KEY=xxxxxxxxxxxxxxxxxx  #for auditor and reasoning generator
NVIDIA_API_KEY=xxxxxxxxxxxxxxxxxx      #for auditor and reasoning generator

# for both
HF_TOKEN=hf_xxxxxxxxxxxxx          # for admin access to dataset/spaces/etc From https://huggingface.co/settings/tokens
