.venv/
.env

# IDE and OS files
.vscode/
.idea/
*.swp
.DS_Store
.geminiignore

# Compiled Python files
*__pycache__*
*.pyc
*.pyo

*.log
logs/*

# --- Databases and Data Stores ---
chroma_db*          
*.sqlite
*.sqlite3
*.db
data/processed/*


.pytest_cache*
multi_provider_proxy.py
multi_provider_proxy_agent.py

# # LLM plannar
DEVELOPMENT_PLAN.md
ARCHITECTURE.md
TESTING_STRATEGY.md
IMPROVEMENT.md
GEMINI.md
UFL_SPEC.md
NAVIGATOR_SPEC.md
