.venv/
.env

# IDE and OS files
.vscode/
.idea/
*.swp
.DS_Store
.geminignore

# Compiled Python files
*__pycache__*
*.pyc
*.pyo

*.log
logs/*

# --- Databases and Data Stores ---
chroma_db*          
*.sqlite
*.sqlite3
*.db

.pytest_cache*
alembic*
results*
plots*

# # LLM plannar
DEVELOPMENT_PLAN.md
ARCHITECTURE.md
TESTING_STRATEGY.md
IMPROVEMENT.md
GEMINI.md
UFL_SPEC.md
